/* font */
@font-face {
  font-family: 'TiemposHeadline';
  src: url(../font/TiemposHeadline-Light.otf); }

@font-face {
  font-family: 'Metric';
  src: url(../font/Metric-Medium.otf); }

@font-face {
  font-family: 'MetricLight';
  src: url(../font/Metric-Light.otf); }

/* button */
.yoga button,
.oxyslovakia button,
.cryotherapy button,
.barber button,
.manicure button,
.news button {
  font-family: 'MetricLight';
  letter-spacing: 4px;
  background-color: #A79A94;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 0; }
  .yoga button p,
  .oxyslovakia button p,
  .cryotherapy button p,
  .barber button p,
  .manicure button p,
  .news button p {
    margin: 0;
    font-size: .8rem; }
  .yoga button img,
  .oxyslovakia button img,
  .cryotherapy button img,
  .barber button img,
  .manicure button img,
  .news button img {
    z-index: 1000;
    margin-left: 20px;
    width: 13px;
    height: 10px; }

.metric {
  font-family: 'Metric'; }

/* body */
body {
  font-family: 'TiemposHeadline';
  overflow-x: hidden; }

/* helpers */
.gold {
  color: #B17D69; }

.light {
  color: #b9aea9; }

.card {
  min-height: 300px;
  filter: drop-shadow(5px 5px 5px #acacac);
  border: none;
  border-radius: 0; }
  .card p {
    font-size: .9rem; }

/* hero page */
.hero-page .side-bar h4 {
  font-family: Arial, sans-serif;
  font-size: .7rem;
  color: #A79A94;
  letter-spacing: 8px;
  transform: rotate(180deg);
  text-orientation: sideways;
  writing-mode: vertical-rl; }
  .hero-page .side-bar h4::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #A79A94;
    left: 0px;
    top: -20px;
    transform: rotate(90deg); }

.hero-page .side-bar .social-icons {
  display: grid; }
  .hero-page .side-bar .social-icons i {
    transition: color .5s ease-out; }
    .hero-page .side-bar .social-icons i:hover {
      color: #d7bdb3; }

.hero-page .hero-heading h2 {
  font-size: 3rem; }

.hero-page .hero-heading button {
  font-family: 'MetricLight';
  letter-spacing: 4px;
  background-color: #A79A94;
  color: #FFF;
  padding: 5px 30px;
  border-radius: 0; }
  .hero-page .hero-heading button p {
    margin: 0;
    font-size: 1rem; }
  .hero-page .hero-heading button img {
    margin-left: 50px;
    width: 13px;
    height: 10px; }

/* navbar */
nav {
  height: 80px; }
  nav .logo img {
    width: 60%; }
  nav .burger-menu {
    z-index: 12; }
    nav .burger-menu .hamburger-inner {
      background-color: #B17D69; }
      nav .burger-menu .hamburger-inner::before, nav .burger-menu .hamburger-inner::after {
        background-color: #B17D69; }
    nav .burger-menu .hamburger.is-active .hamburger-inner {
      background-color: #B17D69; }
      nav .burger-menu .hamburger.is-active .hamburger-inner::before, nav .burger-menu .hamburger.is-active .hamburger-inner::after {
        background-color: #B17D69; }
  nav .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(167, 154, 148, 0.98);
    overflow: hidden;
    transition: 0.3s; }
    nav .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 2rem;
      color: #FFF;
      display: block;
      transition: color .5s ease-out; }
      nav .overlay a:hover, nav .overlay a:focus {
        color: #B17D69; }
  nav .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px; }
    nav .overlay-content .social-nav i {
      color: #FFF;
      transition: color .5s ease-out; }
      nav .overlay-content .social-nav i:hover, nav .overlay-content .social-nav i:focus {
        color: #B17D69; }

/* dermocosmetics */
.dermocosmetics h4 {
  font-size: 2.3rem; }

.dermocosmetics .about {
  font-size: 1rem; }

.dermocosmetics .card-text {
  font-size: 1rem; }

/* figure */
.form-figure {
  background-image: url(../img/bg-figure.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -150px -50px; }
  .form-figure h4 {
    font-size: 2.3rem; }
  .form-figure .about {
    font-size: 1rem; }
  .form-figure .card-text {
    font-size: 1rem; }

/* yoga */
.yoga .yoga-desc h3 {
  font-size: 3rem; }

.yoga .yoga-desc .light-text {
  font-size: 1.2rem; }

.yoga .yoga-desc .desc {
  column-count: 2;
  font-size: 1rem;
  column-gap: 40px; }

/* cryotherapy */
.cryotherapy {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: auto; }
  .cryotherapy .cryo-desc h3 {
    font-size: 3rem; }
  .cryotherapy .cryo-desc .light-text {
    font-size: 1.2rem; }
  .cryotherapy .cryo-desc .desc {
    font-size: 1rem;
    column-count: 2;
    column-gap: 40px; }

/* oxyslovakia */
.oxyslovakia .oxy-desc h3 {
  font-size: 3rem; }

.oxyslovakia .oxy-desc .light-text {
  font-size: 1.2rem; }

.oxyslovakia .oxy-desc .metric {
  font-size: 1rem; }

/* barber */
.barber {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: auto; }
  .barber .barber-desc h3 {
    font-size: 3rem; }
  .barber .barber-desc .light-text {
    font-size: 1.2rem; }
  .barber .barber-desc .desc {
    font-size: 1rem; }

/* manicure */
.manicure {
  overflow: hidden; }
  .manicure .mani-desc h3 {
    font-size: 3rem; }
  .manicure .mani-desc .light-text {
    font-size: 1.2rem; }
  .manicure .mani-desc .metric {
    font-size: 1rem;
    padding: 0 100px; }

/* news */
.news {
  background-image: url(../img/bg-news.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -160px -60px; }
  .news h4 {
    font-size: 2.3rem; }
  .news .card-text {
    font-size: 1rem; }

/* newsletter */
.newsletter input {
  background-color: #e3e1dc;
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1em .5em; }

.newsletter button {
  background-color: #A79A94;
  color: #FFF;
  border-radius: 0;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  transition: all 0.3s ease-in-out;
  padding: .7rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word; }

/* footer */
#footer .footer {
  background-color: #e3e1dc; }
  #footer .footer p {
    font-size: .85rem;
    line-height: 25px; }

#footer .copyright {
  color: #b9aea9;
  font-family: 'MetricLight'; }

#footer .social-media-footer i {
  color: #d7bdb3;
  transition: color .5s ease-out; }
  #footer .social-media-footer i:hover {
    color: #B17D69; }

@media (max-width: 575.98px) {
  .manicure .mani-desc .metric {
    padding: 0 30px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .manicure .mani-desc .metric {
    padding: 0 30px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .manicure .mani-desc .metric {
    padding: 0 30px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .yoga-cover {
    width: 105%;
    margin-top: -65px; }
  .cryo-cover {
    z-index: -100;
    width: 115%;
    margin-top: -150px;
    padding-right: 40px; }
  .oxy-cover {
    width: 115%;
    margin-top: -100px;
    padding-right: 40px; }
  .barber-cover {
    width: 115%;
    margin-top: -100px; }
  .manicure-cover {
    width: 115%;
    margin-top: -200px;
    padding-right: 40px; } }

@media (min-width: 1200px) {
  .yoga-cover {
    width: 105%;
    margin-top: -65px; }
  .cryo-cover {
    z-index: -100;
    width: 115%;
    margin-top: -150px;
    padding-right: 40px; }
  .oxy-cover {
    width: 115%;
    margin-top: -100px;
    padding-right: 40px; }
  .barber-cover {
    width: 115%;
    margin-top: -100px; }
  .manicure-cover {
    width: 115%;
    margin-top: -200px;
    padding-right: 40px; } }
